/* table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  border-spacing: 3px;
}

th, td {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
} */

.Weapons, .Armor {
  margin: 5%;
}